answer-tile.hbs
<h3>Answer: {{answer.answer}}</h3>
<h5>Answered by - {{answer.authorAnswer}}, who thinks this question was {{rating-pic answer}}</h5>
Posted {{moment-from-now answer.date 'MMMM Do YYYY, h:mm a'}}<br>
