<h3>{{question.author}} asks:</h3>
{{#link-to 'question' question.id}}{{question.ask}}{{/link-to}}
<button class="btn btn-sm btn-info"{{action 'addToCart' question}}>Add to list</button>
<button class="btn btn-sm btn-warning"{{action 'removeFromCart' question}}>Remove from list</button>
