<div class="panel panel default">
  <div class="panel-heading">
    <h3 class="panel-title">{{question.author}} wants to know {{question.ask}}</h3>
  </div>
  <div class="pannel-body">
    <h3>Additional comments: {{question.notes}}</h3>
  </div>
</div>
