question.hbs
<div class="row">
  <div class="col-sm-7">
    {{question-detail question=model}}
    {{answer-list question=model}}
    {{add-answer question=model newAnswer="newAnswer"}}
  </div>
  <div class="col-sm-5">
    {{update-question question=model updateQuestion="update"}}
  </div>
</div>
